.recherche {
  background-attachment: fixed;
  height: 100%;
  padding: 63px var(--small) 115px;
  display: flex;
  flex-direction: column;
  gap: var(--big);

  .recherche_filter {
    display: flex;
    flex-direction: column;

    .recherche-label {
        display: none;
    }

    .recherche-input {
      margin-bottom: var(--big);
      border-radius: 5px;
      border: solid var(--smallest) var(--secondaire);
      height: 30px;
      padding-inline: var(--small);
      width: 100%;
    }

    .or-line {
      position: relative;
      text-align: center;

      span {
        position: relative;
        display: inline-block;
        padding: 0 10px;
        line-height: 1.5em;
        z-index: 1;
      }
    }

    .or-line::before,
    .or-line::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 40%;
      height: var(--smallest);
      background-color: var(--gris-input);
    }

    .or-line::before {
      left: 0;
    }

    .or-line::after {
      right: 0;
    }

    h3 {
      margin-bottom: var(--med);
    }

    details {
      text-decoration: none;

      summary {
        margin-block: var(--smaller4);
      }

      .type,
      .pays,
      .prix {
        padding-block: var(--med);

        .types {
          display: flex;
          justify-content: space-between;

          .input-checkbox {
            display: flex;
            align-items: center;

            input[type="checkbox"] {
              border-radius: 5px;
              border: solid var(--smallest) var(--gris-input);
              width: var(--big);
              height: var(--big);
              margin-right: var(--smaller4);
              accent-color: var(--secondaire);
            }
          }
        }

        select {
          width: 100%;
          border-radius: 5px;
          border: solid var(--smallest) var(--gris-input);
          height: 30px;
          padding-inline: var(--small);
          background: white;
        }

        .formPrix {
          display: flex;
          justify-content: space-between;

          .prixMin,
          .prixMax {
            display: flex;
            flex-direction: row;
            align-items: center;

            label {
              margin-right: var(--smallest);
            }

            input {
              width: var(--biggest);
              border-radius: 5px;
              border: solid var(--smallest) var(--gris-input);
              height: var(--biggest);
              padding-inline: var(--small);
            }
          }
        }

        button {
          margin-top: var(--bigger);
          width: 100%;
          height: var(--biggest);
          border-radius: var(--border-radius);
          border-style: none;
          border: solid var(--smallest) var(--secondaire);
          font-size: var(--med);
          font-weight: var(--bold);
          background-color: var(--secondaire);
          color: var(--black);
        }

        button:hover {
          background-color: var(--secondaire-transparent80);
          cursor: pointer;
        }
      }
    }
  }
}

.resultat {
  background-attachment: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--small);
  text-align: center;

  h1 {
    margin-block: var(--big);
  }

  .lien-detail {
    text-decoration: none;
    color: var(--black);
  }

  .bouteille {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    background-color: var(--white);
    align-items: center;
    padding: var(--small);
    border-radius: var(--border-radius15);
    box-shadow: var(--box-shadow);

    .card-bouteille-haut {
      display: flex;
      width: 100%;

      .info-ligne {
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      picture img {
        max-width: 80px;
        margin-inline: -24px;
        position: relative;
        margin-top: 20px;
      }

      .info-bouteille {
        min-width: 4ch;
        width: 100%;
        margin-left: var(--small);

        a {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        div {
          display: flex;
          flex-direction: row;
        }

        .icone {
          margin-right: var(--small);
        }

        .icone-vin {
          background: url(../../assets/img/wineicon.png);
          height: var(--big);
          width: var(--big);
          background-size: cover;
          object-position: center;
        }

        .icone-location {
          background: url(../../assets/img/locationicon.png);
          height: var(--big);
          width: var(--big);
          background-size: cover;
          object-position: center;
        }

        .icone-dollar {
          background: url(../../assets/img/dollaricon.png);
          height: var(--big);
          width: var(--big);
          background-size: cover;
          object-position: center;
        }

        .icone-cellier {
          background: url(../../assets/icones/cellierBlack.png);
          height: var(--big);
          width: var(--big);
          background-size: cover;
          object-position: center;
          justify-self: stretch;
        }

        .cellierQuantite {
          a {
            color: var(--secondaire-turquoise);
            font-size: clamp(0.75rem, 0.54rem + 1.4vw, 2.5rem);
          }
        }

        h3 {
          margin-bottom: auto;
          text-align: left;
          word-break: break-all;
          margin-left: var(--smaller);
          font-size: clamp(0.9375rem,
              0.5729166666666666rem + 1.8229166666666667vw,
              3.125rem); //   font-size: clamp(0.9375rem, 0.49999999999999994rem + 2.1875vw, 3.125rem);
        }

        p {
          font-size: clamp(0.75rem, 0.54rem + 1.4000000000000001vw, 2.5rem);
        }
      }
    }
  }
}

.ajouter-bouteille {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--small);
  margin-bottom: var(--small);
  margin-inline: var(--big);
  height: var(--biggest);
  border-radius: var(--border-radius);
  border-style: none;
  border: solid var(--smallest) var(--secondaire);
  font-size: var(--med);
  font-weight: var(--bold);
  background-color: var(--secondaire);
  color: var(--black);
  position: fixed;
  bottom: var(--big);
  padding: 8px;
  right: 0;
  left: 0;
  z-index: 2;
  text-decoration: none;
  color: var(--black);
}

.return a {
  text-decoration: none;
}

.plus {
  all: unset;
  background-image: url(../../assets/icones/addbleu.png);
  height: var(--biggest);
  width: var(--biggest);
  background-size: cover;
  object-position: center;
  cursor: pointer;
}

.moins {
  all: unset;
  background-image: url(../../assets/icones/minusblue.png);
  height: var(--biggest);
  width: var(--biggest);
  background-size: cover;
  object-position: center;
  cursor: pointer;
}

.quantite {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  justify-self: flex-end;

  .archive {
    background-color: var(--primaire);
    color: white;
    padding-block: var(--smallest);
    padding-inline: var(--small);
    border-radius: var(--smallest);
  }
}

.modifier {
  background-image: url(../../assets/icones/editpeche.png);
  height: var(--biggest);
  width: var(--biggest);
  background-size: cover;
  object-position: center;
  margin-bottom: var(--small);
}

.cellier_nom {
  align-self: end;
  margin-top: 5px;
}

.reset_btn {
  width: 15px;
  height: 15px;
  padding: 5px;
}

.filter_data {
  display: flex;
  flex-direction: row;
  height: auto;
  gap: 10px;
}


.error {
  font-size: 12px;
  color: red;
}

app-scanner {
  width: fit-content;
}

.app_scanner {
  margin-top: var(--big);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}