<section class="mesCelliers">
    <h1>Mes celliers</h1>
    <!-- <input class="recherche-input"
    type="text"
    [(ngModel)]="searchTerm"
    (keyup)="filterData(searchTerm)"
    placeholder="Recherche dans vos celliers"
  />
  <a class="open-modal" (click)="openModalFilter()">Filter</a>
  <div class="modal" [ngClass]="{'active': isVisibleM}">
    <div class="modal-content">
      <button class="close-modal-btn" (click)="closeModalFilter()">X</button>
         <div class="modal-type">
            <h3>Type</h3>
            <a (click)="filterByType('Vin rouge')">Rouge</a>
            <a (click)="filterByType('Vin blanc')">blanc</a>
        </div>
         <div class="modal-pays">
            <h3>Pays</h3>
            <a (click)="filterByCountry('Canada')">Canada</a>
            <a (click)="filterByCountry('Etat-unis')">Etat-unis</a>
            <a (click)="filterByCountry('France')">France</a>
            <a (click)="filterByCountry('Italie')">Italie</a>
        </div>
         <div class="modal-prix">
            <h3>Prix</h3>

            <form (ngSubmit)="filterByPrice(minPrice, maxPrice)" #myForm="ngForm">
                <div class="formPrix">
                    <label for="minPrice">Minimum:</label>
                  <input type="number" [(ngModel)]="minPrice" name="minPrice">
                  <label for="maxPrice">Minimum:</label>
                  <input type="number" [(ngModel)]="maxPrice" name="maxPrice">
                </div>
                <button type="submit">Filter</button>
              </form>
              
              

        </div>
      
    </div>
  </div> -->
  
  

  


  <!-- <table>
    <tbody>
        <tr *ngFor="let bouteille of filteredData">
            <td >{{ bouteille.nom }}</td>
            <td >cellier :{{ bouteille.celliers_nom }}</td>
        </tr>
    </tbody>
</table> -->


    <app-spinner [className]="spin ? 'spin' : 'nospin'"></app-spinner>

    <div class="cellierVide" *ngIf="!listeCelliers[0] && !spin">
        <h2>Vous n'avez aucun cellier</h2>
        <p>Pour ajouter un cellier appuyez sur le bouton</p>
        <span> &#8681;</span>
    </div>


    <article class="boite-cellier celliers" *ngFor="let unCellier of listeCelliers;">

        <a class="unCellier" routerLink="/profil/cellier/{{unCellier.id}}">
            <img class="iconeCellier" [src]="iconeCellier" alt="Icône d'ajout de bouteille">

            <h2>{{unCellier.nom}}</h2>
        </a>
        
        <section class="icones-cellier">
            <div class="modif-cellier" routerLink="/profil/modifier-cellier/{{unCellier.id}}"></div>
                
            <div class="ajout-bouteille" routerLink="/profil/ajouter-bouteille/{{unCellier.id}}"><div class="icone-bouteille"><div class="icone-plus"></div></div></div>
            
            <div class="btn-effacer" (click)="openModal(unCellier.id)"></div>
        </section>
    </article>
    <a routerLink="/profil/ajouter-cellier"><div class="icone-ajout-cellier"></div></a>
    <app-footer></app-footer>
</section>

<app-effacer-cellier-modal [id]="id" [isVisible]="isVisible" (closed)="onModalClosed()"
    (itemEfface)="rafraichirListe()"></app-effacer-cellier-modal>
