<section class="mesCelliers">
    <h1 class="titreCelliers">Mes celliers
        <!--
        grid list toggle de : www.syncfusion.com
        -->
        <div id="view" class="e-btn-group" *ngIf="listeCelliers[0] && !spin">
            <label class="e-btn" for="right" *ngIf="display === 1">
                <input type="radio" id="right" name="align" value="2" (click)="changeDisplay(2)"/>
                <div class="icone-list"></div>    
            </label>
            <label class="e-btn" for="left" *ngIf="display === 2">
                <input type="radio" id="left" name="align" value="1" checked (click)="changeDisplay(1)"/>
                <div class="icone-grid"></div>
            </label>
        </div>
    </h1>

    <app-spinner [className]="spin ? 'spin' : 'nospin'"></app-spinner>

    <div class="cellierVide" *ngIf="!listeCelliers[0] && !spin">
        <h2>Vous n'avez aucun cellier</h2>
        <p>Pour ajouter un cellier appuyez sur le bouton</p>
        <span> &#8681;</span>
    </div>

    <ng-container *ngIf="display === 1;else list_content">
        <article class="boite-cellier celliers" *ngFor="let unCellier of listeCelliers;">
            
            <a class="unCellier" routerLink="/profil/cellier/{{unCellier.id}}">
                <img class="iconeCellier" [src]="iconeCellier" alt="Icône d'ajout de bouteille">
                
                <h2>{{unCellier.nom}}</h2>
            </a>
            
            <section class="icones-cellier">
                <div class="modif-cellier" routerLink="/profil/modifier-cellier/{{unCellier.id}}"></div>
                
                <div class="ajout-bouteille" routerLink="/profil/ajouter-bouteille/{{unCellier.id}}"><div class="icone-bouteille"><div class="icone-plus"></div></div></div>
                
                <div class="btn-effacer" (click)="openModal(unCellier.id)"></div>
            </section>
        </article>
    </ng-container>
    <a *ngIf="!spin" routerLink="/profil/ajouter-cellier"><div class="icone-ajout-cellier"></div></a>
    <app-footer></app-footer>
</section>

<app-effacer-cellier-modal [id]="id" [isVisible]="isVisible" (closed)="onModalClosed()"
    (itemEfface)="rafraichirListe()">
</app-effacer-cellier-modal>

<ng-template #list_content class="list">
    <section class="table-list">
        <table>
            <tbody>
                <tr *ngFor="let unCellier of listeCelliers;" routerLink="/profil/cellier/{{unCellier.id}}">
                    <td class="td-nom">{{ unCellier.nom }}</td>
                    <td class="td-prix"><div class="modif-cellier" routerLink="/profil/modifier-cellier/{{unCellier.id}}"></div></td>
                    <td><div class="ajout-bouteille" routerLink="/profil/ajouter-bouteille/{{unCellier.id}}"><div class="icone-bouteille"><div class="icone-plus"></div></div></div></td>
                    <td><div class="btn-effacer" (click)="openModal(unCellier.id)"></div></td>
                </tr>
            </tbody>
        </table>
    </section>
</ng-template>