.mesCelliers {
    // background-image: url(../../assets/img/SES-vino-tinto-3083249-3c87d291a3644a18937edbac4ac182ed.jpg);
    background-attachment: fixed;
    height: 100%;
    padding: 85px var(--small) 115px;
    display: flex;
    flex-direction: column;
    gap: var(--big);


  h1 {
    text-align: center;
    font-size: 1.5em;
  }

  .cellierVide {

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: var(--small);
    margin-top: 50px;

    background-color: var(--white);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    h2 {
      font-size: 1.2em;
    }

    span {
      font-size: 80px;
    }
  }

    .icones-cellier {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        align-self: stretch;
    }

    .modif-cellier {
        background: url(../../assets/icones/edit-black.png);
        height: var(--bigger);
        width: var(--bigger);
        background-size: cover;
        cursor: pointer;

    }

    .btn-effacer {

        background: url(../../assets/icones/trash-347.png);
        height: var(--bigger);
        width: var(--bigger);
        background-size: cover;
        cursor: pointer;

    }

    .ajout-bouteille {

        background: url(../../assets/icones/wine-bottle.png);
        height: var(--bigger);
        width: var(--bigger);
        background-size: cover;
        cursor: pointer;

        .icone-bouteille {
            background: url(../../assets/icones/wine-bottle.png);
            height: var(--bigger);
            width: var(--bigger);
            background-size: cover;
        }
        
        .icone-plus {
            position: relative;
            top: 0px;
            left: 14px;
            background: url(../../assets/icones/plusWithBack.png);
            height: var(--small);
            width: var(--small);
            background-size: cover;
        }
      }

    .iconeCellier {
        margin-right: var(--small);
        max-width: 80px;
        max-height: 80px;
    }

    .celliers {
        height: 100px;
        background-color: var(--white);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--small);
        border: 3px rgb(235, 235, 235) solid;

        // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .unCellier {
      text-decoration: none;
      color: var(--black);
      width: 100%;
      display: flex;
      justify-content: left;

      h2 {
        color: var(--black);
        display: flex;
        align-items: center;
        word-break: break-all;
        text-align: center;
        font-size: clamp(0.9375rem,
            0.5729166666666666rem + 1.8229166666666667vw,
            3.125rem);
      }

    }

  }


  // spinner //
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-ripple div {
    position: absolute;
    border: 4px solid #cef;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }

  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }

    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }

    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }

    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}

 
        .ajouter-cellier {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: var(--small);
            margin-bottom: var(--small);
            margin-inline: var(--big);
            height: var(--biggest);
            border-radius: var(--border-radius);
            border-style: none;
            border: solid var(--smallest) var(--secondaire);
            font-size: var(--med);
            font-weight: var(--bold);
            background-color: var(--secondaire);
            color: var(--black);
            position: fixed;
            bottom: var(--big);
            padding: 8px;
            right: 0;
            left: 0;
            z-index: 2;
            text-decoration: none;
            color: var(--black);
        }
        .ajouter-cellier:hover {
            background-color: var(--secondaire);
        }
        
        
    /***************************************************///// modal filtre


    .modal {
        position: fixed;
        // top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        z-index: 3;
      }
      
      .modal.active {
        width: 100%;
        opacity: 1;
        visibility: visible;
      }
      
      .modal-content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 70%;
        background-color: #fff;
        padding: 20px;
        transform: translateX(-100%);
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
      }
      
      .modal.active .modal-content {
        transform: translateX(0);
      }

      .open-modal{
        cursor: pointer;

      }

      .close-modal-btn{
        width: fit-content;
        align-self: end;
        appearance: none;
        border: none;
        background: none;
        padding: 0;
        margin: 0;

      }

  



      div {
        padding: 0;
        height: fit-content;
  
      }

      div a {
        cursor: pointer;
      }

      div a:active{
        text-decoration:underline;
    }
      
      

}

.formPrix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;


    input {
        width: 6ch;
    }
}