div {
    // background-image: url(../../assets/img/SES-vino-tinto-3083249-3c87d291a3644a18937edbac4ac182ed.jpg);
    background-attachment: fixed;
    height: 100%;
    padding: 85px var(--big) 115px;
    display: flex;
    flex-direction: column;
    gap: var(--big);
    

    h1 {
        font-family: 'ruda';
        text-align: center;
    }

    .boite-cellier {
    
        position:relative;

    }

    .modif-cellier{
        // color: var(--white);
        color: var(--secondaire-turquoise);
        position: absolute;
        bottom: var(--smaller);
        right: var(--smaller);
        text-decoration: none;
    }

    .ajout-bouteille{
        position: absolute;
        bottom: var(--smaller);
        left: var(--smaller);
        color: var(--secondaire);
        text-decoration: none;
    }

    .btn-effacer{
        background: none;
        border: none;
        padding: 0;
        position: absolute;
        top: var(--smaller);
        right: var(--smaller);
    }

    .btn-effacer{
        cursor: pointer;
    }
    
    .icones {
        height: var(--big);
    }


    .celliers {
        // border: 1px solid var(--black);
        height: 80px;
        background-color: var(--white);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


        .unCellier {
            text-decoration: none;
            color: var(--black);

            h2 {
                color: var(--black);
                font-family: 'ruda';
                font-size: var(--bigger);
                font-weight: 800;
                display: flex;
                align-items: center;

            }

        }

    }
 
        .ajouter-cellier {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: var(--small);
            margin-bottom: var(--small);
            margin-inline: var(--big);
            height: var(--biggest);
            border-radius: var(--border-radius);
            border-style: none;
            border: solid var(--smallest) var(--secondaire);
            font-size: var(--med);
            font-weight: var(--bold);
            background-color: var(--secondaire);
            color: var(--black);
            position: fixed;
            bottom: var(--big);
            padding: 8px;
            right: 0;
            left: 0;
            z-index: 2;
            text-decoration: none;
            color: var(--black);
        }
        .ajouter-cellier:hover {
            background-color: var(--secondaire);
        }
    

}