div {
    // background-image: url(../../assets/img/SES-vino-tinto-3083249-3c87d291a3644a18937edbac4ac182ed.jpg);
    background-attachment: fixed;
    height: 100%;
    padding: 85px var(--big) 115px;
    display: flex;
    flex-direction: column;
    gap: var(--big);


    h1 {
        text-align: center;
        font-size: 1.5em;
    }

    .modif-cellier {
        // color: var(--white);
        color: var(--secondaire-turquoise);
        position: absolute;
        bottom: var(--smaller);
        right: var(--smaller);
        text-decoration: none;
    }

    .ajout-bouteille {
        position: absolute;
        display: flex;
        bottom: var(--smaller);
        left: var(--smaller);
        color: var(--secondaire);
        text-decoration: none;
    }

    .btn-effacer {
        background: none;
        border: none;
        padding: 0;
        position: absolute;
        top: var(--smaller);
        right: var(--smaller);
    }

    .btn-effacer {
        cursor: pointer;
    }

    .icones {
        height: var(--big);
    }


    .celliers {
        // border: 1px solid var(--black);
        height: 80px;
        background-color: var(--white);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;

        .unCellier {
            text-decoration: none;
            color: var(--black);
            width: 100%;
            display: flex;
            justify-content: center;

            h2 {
                color: var(--black);
                display: flex;
                align-items: center;
                word-break: break-all;
                text-align: center;
                font-size: clamp(0.9375rem,
                        0.5729166666666666rem + 1.8229166666666667vw,
                        3.125rem);
            }

        }

    }



}