<div>
    <h1>Connexion</h1>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
        <mat-label>Courriel</mat-label>
        <input type="email" matInput formControlName="email" name="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput formControlName="password" name="password">
    </mat-form-field>

    <!-- <mat-form-field class="hidden" appearance="fill">
        <mat-label>Type d'usager</mat-label>
        <input matInput formControlName="type" name="type">
    </mat-form-field> -->

    <div class="boutons">
        <button type="submit" mat-stroked-button color="primary">Se connecter</button>
    </div>
    
</form>