<section class="monCellier">
  <!-- <a class="return" href="/liste-cellier">retourner sur la liste cellier</a> -->
  <h1>Mon cellier</h1>

  <div class="overlay"></div>

  <article class="bouteille" *ngFor="let uneBouteille of bouteilles">
    <div class="card-bouteille-haut">
      <picture>
        <img [src]="uneBouteille.url_img ? uneBouteille.url_img : '../../assets/img/nonDispo.webp'" alt="Bouteille" />
    </picture>
    

      <div class="info-bouteille">
        <!-- <h3 *ngIf="uneBouteille.url_img">{{ uneBouteille.nom }}</h3> -->
        <h3>{{ uneBouteille.nom ? uneBouteille.nom : uneBouteille.nom_bouteillePerso }}</h3>
        <!-- <div>
            <span class="icone icone-vin"></span>
            <p>{{ uneBouteille.type }} | {{ uneBouteille.format }}</p>
        </div> -->
        <div>
          <span class="icone icone-vin"></span>
          <p>{{ uneBouteille.type?.length ? uneBouteille.type : uneBouteille.type_bouteillePerso }} | {{ uneBouteille.format?.length ? uneBouteille.format : uneBouteille.format_bouteillePerso }}</p>
        </div>
        <!-- <div>
            <span class="icone icone-location"></span><p> {{ uneBouteille.pays }}</p>
        </div> -->
        <div>
          <span class="icone icone-location"></span>
          <p>{{ uneBouteille.pays ? uneBouteille.pays : uneBouteille.pays_bouteillePerso }}</p>
        </div>
        <!-- <div>
            <span class="icone icone-dollar"></span><p> {{ uneBouteille.prix_saq }}</p>
        </div> -->

        <div>
          <span class="icone icone-dollar"></span>
          <p>{{ uneBouteille.prix_saq ? uneBouteille.prix_saq : uneBouteille.prix_bouteillePerso }}</p>
      </div>

      </div>
    </div>
    <div class="card-bouteille-bas">
        <!--
            <p>Note</p>
            <div class="icone icone-etoile"></div>
        -->
        <div>
        <!-- <span>{{ uneBouteille.quantite }}</span> -->
        <span>Quantité : {{ uneBouteille.quantite ? uneBouteille.quantite : uneBouteille.quantite_bouteillePerso }}</span>

        <a *ngIf="!uneBouteille.id_bouteille" class="" routerLink="/modifier-bouteille/{{ uneBouteille.id_mes_bouteilles }}">modification</a>

      </div>
    </div>
  </article>



  <a class="ajouter-bouteille" routerLink="/ajouter-bouteille/{{ cellierId }}">
    Ajouter une bouteille

</a>


</section>
