.monCellier {
  h1 {
    margin-block: var(--big);
  }

  // background-image: url(../../assets/img/SES-vino-tinto-3083249-3c87d291a3644a18937edbac4ac182ed.jpg);
  background-attachment: fixed;
  height: 100%;
  padding: 85px var(--big) calc(100vh - 122px);
  display: flex;
  flex-direction: column;
  gap: var(--big);
  text-align: center;

  //   text-align: center;
  //   display: flex;
  //   align-items: center;
  //   flex-direction: column;
  //   align-items: stretch;
  //   padding: var(--small);
  //   padding-bottom: 100px;
  //   padding-top: 63px;

  .bouteille {
    margin-bottom: var(--small);
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    // min-width: 90vw;
    // background-color: transparent;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // background-color: var(--black-transparent50);
    align-items: center;
    padding: var(--small);
    border-radius: var(--border-radius15);
    

    // border: 5px solid rgb(228, 228, 228);

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .card-bouteille-haut {
      display: flex;
    //   justify-content: space-between;
      width: 100%;
      // border-bottom: 5px solid var(--secondaire-turquoise);
      border-bottom: 5px solid rgb(228, 228, 228);
      padding-bottom: var(--med);
      margin-bottom: var(--med);

      div {
        text-align: start;
        display: flex;
        flex-direction: column;
      }

      .image-bouteille {
        min-width: 100px;
      }

      .info-bouteille {

        //   justify-content: space-between;
        //   min-width: 245px;



        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-block: var(--smallest);
        }

        .icone-vin {
          background: url(../../assets/img/wineicon.png);
          // background:red;
          height: var(--big);
          width: var(--big);
          background-size: cover;
          object-position: center;
        }

        .icone-location {
          background: url(../../assets/img/locationicon.png);
          // background:red;
          height: var(--big);
          width: var(--big);
          background-size: cover;
          object-position: center;
        }

        .icone-dollar {
          background: url(../../assets/img/dollaricon.png);
          // background:red;
          height: var(--big);
          width: var(--big);
          background-size: cover;
          object-position: center;
        }

        h3 {
          margin-bottom: var(--biggest);
          padding-left: var(--smaller);

          font-size: clamp(
            0.9375rem,
            0.5729166666666666rem + 1.8229166666666667vw,
            3.125rem
          ); //   font-size: clamp(0.9375rem, 0.49999999999999994rem + 2.1875vw, 3.125rem);
        }

        p {
          font-size: clamp(0.75rem, 0.54rem + 1.4000000000000001vw, 2.5rem);
        }
      }
    }

    .card-bouteille-bas {
      align-self: flex-start;
      width: 100%;

      a{
        text-decoration: none;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .icone-etoile {
        background-image: url(../../assets/img/staricon.png);

        height: var(--biggest);
        width: var(--biggest);
        background-size: cover;
        object-position: center;
      }
    }
  }
  .ajouter-bouteille {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--small);
    margin-bottom: var(--small);
    margin-inline: var(--big);
    height: var(--biggest);
    border-radius: var(--border-radius);
    border-style: none;
    border: solid var(--smallest) var(--secondaire);
    font-size: var(--med);
    font-weight: var(--bold);
    background-color: var(--secondaire);
    color: var(--black);
    position: fixed;
    bottom: var(--big);
    padding: 8px;
    right: 0;
    left: 0;
    z-index: 2;
    text-decoration: none;
    color: var(--black);
  }
}
