.monCellier {
  background-image: url(../../assets/img/background-statique-mobile.png);

  // height: calc(100vh - 63px);
  height: 100%;
  background-size: cover;
  object-position: center;

  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--med);

  .bouteille {
    margin: var(--big);
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: var(--black-transparent50);
    align-items: center;
    padding: var(--big);
    border-radius: var(--border-radius15);


    .card-bouteille-haut {

        display: flex;
        justify-content: space-between;
        width: 100%;
        // border-bottom: 5px solid ;



        picture {
          width: 30%;
        }
    
        .image-bouteille {
          background-image: url(../../assets/img/bottle.jpg);
          object-position: center;
    
          height: 100px;
          // background-size: cover;
          object-position: center;

          background-repeat:no-repeat;
          background-position: center center;
          background-size: 200px 400px;
        }


    }

    .card-bouteille-bas {
        align-self: flex-start;
    }

    h1 {
      font-size: 100px;
    }

    .grosPlus {
      font-size: 40px;
    }
  }
}
