.auth-wrapper {
    padding-top: 63px;
    height: calc(100vh - 63px);
    background-image: url(../../../assets/img/background-statique-desktop.png);
    background-size: cover;
    object-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-signin {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--white);
    // background-color: rgba(255, 255, 255, 0.924);
    // background-color: var(--black-transparent50);
    align-items: center;
    margin-inline: var(--big);
    border-radius: var(--border-radius15);
    box-shadow: var(--shadow);


    .h3 {
        margin-top: var(--biggest);
        margin-bottom: var(--big);
        color: var(--black);
        // color: var(--white);
    }
            
    .alert {
        display: flex;
        flex-direction: column;
        color: var(--primaire);
        margin-inline: var(--small);
        margin-bottom: var(--small);
        background-color: transparent;
        // background-color: var(--black-transparent40);
        border-radius: var(--border-radius5);
        padding-inline: 13px;
    }

    .form-group {
    
        min-width: 100%;
        padding-inline: var(--big);
        position:relative;

        
        label{
            position:relative;
        }
        
        input {
            margin-block: var(--small);
            margin-inline: var(--small);
            height: var(--biggest);
            border-radius: var(--border-radius5);
            border-style: none;
            // border: solid var(--smallest) var(--white);
            border: solid var(--smallest) var(--black);
            width: calc(100% - (var(--biggest) + var(--bigger)));
            padding-inline: var(--small);
        }
        input::placeholder{
            opacity:0;
        }
        .floating {
            padding: 5px;
            position:absolute;
            top:-21px;
            left:20px;
            transform:translateY(20px);
            font-size:0.825em;
            transition-duration:300ms;
            color: gray;
            background: white;
        }

        label:focus-within > span,
        input:not(:placeholder-shown) + span{
            color:var(--secondaire);
            transform:translateY(0px);
        }

        label:focus-within > .floatingError,
        input:not(:placeholder-shown) + .floatingError{
            color:var(--primaire);
        }

        
    }
    
    button {
        margin-block: var(--small);
        margin-inline: var(--small);
        height: var(--biggest);
        border-radius: var(--border-radius);
        border-style: none;
        border: solid var(--smallest) var(--secondaire);
        width: calc(100% - var(--biggest));
        font-size: var(--med);
        font-weight: var(--bold);
        background-color: var(--secondaire-transparent80);
        color: var(--black);

    }
    
    button:hover {
        background-color: var(--secondaire);
    }

    .nouveau-membre {
        border-top: 2px solid rgb(228, 228, 228);

        align-self: stretch;
        display: flex;
        justify-content: space-between;
        margin-top: var(--small);
        margin-inline: var(--big);
        padding-block: var(--big);

        a {
            font-size: 14px;
            color: var(--secondaire-turquoise);
            text-align: right;
        }

    }
}
