h1 {
  margin-top: 73px;
  font-size: 1.5rem;
}

.uneBouteille {
  background-attachment: fixed;
  height: 100%;
  padding: var(--small) var(--small) 115px;
  display: flex;
  flex-direction: column;
  gap: var(--big);

}

.flexer {
  display: flex;
  text-align: left;
}

.detail-text {
  display: flex;
  flex-direction: column;
  gap: var(--small);
}

.zoom-image-container {

  .zoom-image-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    img {
      max-height: 90%;
      max-width: 90%;
      object-fit: contain;
    }

    .zeX {
      font-size: var(--biggest);
      position: absolute;
      top: 100px;
      right: 80px;
    }
  }

  .bouteille {
    width: 100px;
  }
}

.zoneSAQ {

  .saq {
    background-image: url(../../assets/icones/saqicone.png);
    height: var(--biggest);
    width: var(--biggest);
    background-size: cover;
    object-position: center;
    display: block;
  }
}

.nohide {
  background-attachment: fixed;
  height: 100%;
  padding: var(--small) var(--small) 115px;
  display: flex;
  flex-direction: column;
  gap: var(--big);
  text-align: center;
}

.spin {
  display: block;
  padding-top: 100px;
}