<div>
    <form class="formulaire" [formGroup]="commentaireForm" (ngSubmit)="ajouterCommentaire()">
        <label for="commentaires">Mes notes de dégustations</label>
        <div *ngIf="formSubmitted && commentaireForm.controls['commentaires'].invalid" class="error-message">
            <span *ngIf="commentaireForm.controls['commentaires'].errors?.['maxlength']">Doit comporter un maximum de 500
                caractères.</span>
        </div>
        <textarea type="text" formControlName="commentaires" id="commentaires" cols="30" rows="10"></textarea>
        <button type="submit">Soumettre</button>
    </form>
</div>