<div class="auth-wrapper">
  <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h3 class="h3 mb-3 font-weight-normal text-center">Inscription</h3>
    <!-- Signup form -->
    <div class="form-group">
      <label>
      <input type="text" class="form-control" formControlName="name" placeholder="Nom"/>
      <span class="floating" *ngIf="!errors?.name">Nom</span>
      <span class="floating floatingError" *ngIf="errors?.name">Nom</span>
    </label>
      <!-- Erreur -->
      <div *ngIf="errors?.name" class="alert alert-danger">{{ errors?.name }}</div>
    </div>
    <div class="form-group">
      <label>
      <input type="email" class="form-control" formControlName="email" placeholder="Courriel"/>
      <span class="floating" *ngIf="!errors?.email">Courriel</span>
      <span class="floating floatingError" *ngIf="errors?.email">Courriel</span>
    </label>
      <!-- Erreur -->
      <div *ngIf="errors?.email" class="alert alert-danger">{{ errors?.email }}</div>
    </div>
    <div class="form-group">
      <label>
      <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe"/>
      <span class="floating" *ngIf="!errors?.password">Mot de passe</span>
      <span class="floating floatingError" *ngIf="errors?.password">Mot de passe</span>
    </label>
      <!-- Erreur -->
      <div *ngIf="errors?.password" class="alert alert-danger">
        <span>{{ errors?.password[1] }}</span>
        <span>{{ errors?.password[0] }}</span>
      </div>
    </div>
    <div class="form-group">
      <label>
      <input type="password" class="form-control" formControlName="password_confirmation" placeholder="Confirmation du mot de passe"/>
      <span class="floating" *ngIf="!errors?.password">Confirmation du mot de passe</span>
      <span class="floating floatingError" *ngIf="errors?.password">Confirmation du mot de passe</span>

    </label>
    </div>
    <button type="submit" class="btn btn-block">
      Créer un compte
    </button>
    <section class="deja-inscrit">
      <h5>Deja inscrit? </h5>
      <a routerLink="/connexion">Connectez vous</a>
    </section>
  </form>
</div>
