<mat-toolbar>
    <a mat-icon-button routerLink="/liste-usager"><mat-icon>home</mat-icon></a>
    <span class="spacer"></span>
    <!-- <a mat-button routerLink="" routerLinkActive="estActif">Liste des usagers</a> -->
    <!-- <a mat-button routerLink="/catalogue" routerLinkActive="estActif">Catalogue</a> -->
    <!-- <a mat-button routerLink="/admin" routerLinkActive="estActif">Déconnexion</a> -->
    <a mat-button (click)="signOut()" *ngIf="isSignedIn" routerLinkActive="estActif">Déconnexion</a>
</mat-toolbar>
