<div class="modifier-cellier-component">
    <h1>Modifier un cellier</h1>
     <form [formGroup]="cellierForm" (ngSubmit)="modifier()">
        <div>
            <label for="nom">Nom du cellier</label>
            <input type="text" formControlName="nom">
            <div *ngIf="cellierForm.controls['nom'].invalid && (cellierForm.controls['nom'].dirty || cellierForm.controls['nom'].touched)" class="message-erreur">
                <span *ngIf="cellierForm.controls['nom']?.errors?.['required']">Le nom est requis.</span>
              </div>
            <button type="submit">Modifier</button>
        </div>
    </form>  
</div>
