.ajouter-cellier-component {
    padding: 83px var(--big) 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 1.5em;
    }

    form {

        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
        background-color: var(--white);
        align-items: center;
        margin-inline: var(--big);
        margin-top: var(--big);
        border-radius: var(--border-radius15);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;



        div {
            min-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;

            label {
                margin-top: var(--biggest);
                margin-bottom: var(--big);
                color: var(--black);
                position: relative;
                align-self: stretch;
            }

            input::placeholder{
                opacity:0;
            }
            

            input {
                height: var(--biggest);
                border-radius: var(--border-radius5);
                border: var(--smallest) solid var(--black);
                width: calc(100% - (var(--biggest) + var(--bigger)));
                padding-left: var(--small);
            }

            .floating {
                padding: 5px;
                position:absolute;
                top:-14px;
                left:25px;
                transform:translateY(20px);
                font-size:0.825em;
                transition-duration:300ms;
                color: gray;
                background: white;
            }
            
            label:focus-within > span,
            input:not(:placeholder-shown) + span{
                color:var(--secondaire);
                transform:translateY(0px);
                border-radius: 5px;
                padding-bottom: 0;
            }


            input:focus {
                border: var(--smallest) solid var(--secondaire);
            }

            button {
                margin-top: var(--big);
                margin-bottom: var(--biggest);
                // margin-inline: var(--small);
                height: var(--biggest);
                border-radius: var(--border-radius);
                border-style: none;
                border: solid var(--smallest) var(--secondaire);
                font-size: var(--med);
                font-weight: var(--bold);
                background-color: var(--secondaire);
                color: var(--black);
                width: calc(100% - var(--biggest));
            }

            button:hover {
                background-color: var(--secondaire);
                cursor: pointer;
            }

            .message-erreur {
                margin-top: var(--small);
                color: red;
                border: none;
            }
        }
    }
}