<mat-toolbar>
  <a mat-icon-button routerLink="/admin/liste-usager"><mat-icon>home</mat-icon></a>
  <span class="vinovino-admin">VinoVino Admin</span>
  <span class="spacer"></span>
  <a mat-button (click)="signOut()" *ngIf="isSignedIn" routerLinkActive="estActif">Déconnexion</a>
</mat-toolbar>
<span class="spacer"></span>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>VinoVino Admin</span>
    <div class="nav-bar">
      <ul class="nav-bar__list">
        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
