

@font-face{
    font-family: 'vinovino';
    src: url('../src/assets/fonts/BudokanRounded-Bold.ttf');
}

@font-face{
    font-family: 'ruda';
    src: url('../src/assets/fonts/Ruda-VariableFont_wght.ttf');
}

*{
    margin: 0;
    font-family: 'ruda';
}

form {
    font-size: 16px;
}

//declaration variables globales
:root{

    //color
    --primaire: #F80301;
    --secondaire:#FFB700;
    --primaire-transparent80:#f80101bc;
    --secondaire-transparent80:rgba(255, 183, 0, 0.8);
    --secondaire-turquoise:#10D4E0;
    --secondaire-peche:#FFA156;
    --white:#FFFFFF;
    --white-transparent80:rgba(255, 255, 255, 0.8);
    --gris-fonce:#444444;
    --black:#000000;
    --black-transparent40:rgba(0, 0, 0, 0.4);
    --black-transparent50:rgba(0, 0, 0, 0.5);
    --transparent100:rgba(0, 0, 0, 0);

    //padding

    --smallest:2px;
    --smaller4:4px;
    --smaller:8px;
    --small:12px;
    --med:16px;
    --big:20px;
    --bigger:24px;
    --biggest:32px;

    // border-radius
    --border-radius:50px;
    --border-radius15:15px;
    --border-radius5:5px;

    // fonts
    --bold:bold;

    // label des inputs
    --display-none: none;
}



    // spin 
    .spin {
    }
    .nospin {
        background: green;
        display: none;
    }
    .hide {
        display: none;
    }
    .nohide {
        display: flex;
    }
    // spinner //
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #cef;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  .mon-snackbar {
    position: fixed !important;
    background-color: #10D4E0;
    bottom: 48px !important;
    margin: 0 !important;
    transform: translateX(-50%);
    color: black;
    font-size: 16px;
    height: 48px;
  }
  .mdc-button__label{
    color: black;
  }