@font-face {
    font-family: 'vinovino';
    src: url('../src/assets/fonts/BudokanRounded-Bold.ttf');
}

@font-face {
    font-family: 'ruda';
    src: url('../src/assets/fonts/Ruda-VariableFont_wght.ttf');
}

* {
    margin: 0;
    font-family: 'ruda';
}

form {
    font-size: 16px;
}

body{
    // background: var(--blanc-gris);
}

// box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
// box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
// box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

// déclaration de variables globales
:root {

    --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;;
    // couleurs
    --primaire: #F80301;
    --secondaire: #FFB700;
    --primaire-transparent80: #f80101bc;
    --secondaire-transparent80: #ffb700cc;
    --secondaire-turquoise: #10D4E0;
    --secondaire-peche: #FFA156;
    --white: #FFFFFF;
    --white-transparent80: rgba(255, 255, 255, 0.8);
    --gris-fonce: #444444;
    --black: #000000;
    --black-transparent40: rgba(0, 0, 0, 0.4);
    --black-transparent50: rgba(0, 0, 0, 0.5);
    --transparent100: rgba(0, 0, 0, 0);
    --gris-input: rgb(148, 148, 148);
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --label-color: #000000;
    --blanc-gris:#f9f9f9;

    // espacements
    --smallest: 2px;
    --smaller4: 4px;
    --smaller: 8px;
    --small: 12px;
    --med: 16px;
    --big: 20px;
    --bigger: 24px;
    --biggest: 32px;

    // border-radius
    --border-radius: 50px;
    --border-radius15: 15px;
    --border-radius5: 5px;

    // polices
    --bold: bold;

    // label des inputs
    --display-none: none;
}


// spin 
.nospin {
    background: green;
    display: none;
}

.hide {
    display: none;
}

.nohide {
    display: flex;
}

.mon-snackbar {
    position: fixed !important;
    background-color: #10D4E0;
    bottom: 55px !important;
    margin: 0 !important;
    transform: translateX(-50%);
    color: black;
    font-size: 16px;
    height: 48px;
}

.mdc-button__label {
    color: black;
}