/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: 'vinovino';
    src: url('../src/assets/fonts/BudokanRounded-Bold.ttf');
}
@font-face{
    font-family: 'ruda';
    src: url('../src/assets/fonts/Ruda-VariableFont_wght.ttf');
}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

//declaration variable global
:root{
            //color
    --primaire: #F80301;
    --secondaire:#FFB700;
    --white:#FFFFFF;
    --gris-fonce:#444444;
    --black:#000000;
    --black-transparent50:rgba(0, 0, 0, 0.5);
    --black-transparent40:rgba(0, 0, 0, 0.4);

    //padding

    --smaller:8px;
    --small:12px;
    --med:16px;
    --big:20px;
    --bigger:24px;
    --biggest:32px;

    // boutons
    // border-radius
    --border-radius:50px;

    // fonts
    --bold:bold;
}

