<app-entete></app-entete>

<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <div>
            <a mat-button routerLink="" routerLinkActive="estActif">Liste des usagers</a>
            <a mat-button routerLink="/catalogue" routerLinkActive="estActif">Catalogue</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>