<!-- <div>

    
  
  <div class="modal" [ngClass]="{'active': isVisibleM}">
    <div class="modal-content">
      <button class="close-modal-btn" (click)="closeModalFilter()">X</button>
      <label for="recherche">Recherchez une bouteille dans tout vos celliers</label>
      <input class="recherche-input"
        name="recherche"
        type="text"
        [(ngModel)]="searchTerm"
        (keyup)="filterData(searchTerm)"
        placeholder="Recherche dans vos celliers"
        />
        <div class="modal-input">
            <div class="modal-type">
                <h3>Type</h3>
                <a (click)="filterByType('Vin rouge')">Rouge</a>
                <a (click)="filterByType('Vin blanc')">blanc</a>
            </div>
            <div class="modal-pays">
                <h3>Pays</h3>
                <a (click)="filterByCountry('Canada')">Canada</a>
                <a (click)="filterByCountry('Etat-unis')">Etat-unis</a>
                <a (click)="filterByCountry('France')">France</a>
                <a (click)="filterByCountry('Italie')">Italie</a>
            </div>
            <div class="modal-prix">
                <h3>Prix</h3>

                <form (ngSubmit)="filterByPrice(minPrice, maxPrice)" #myForm="ngForm">
                    <div class="formPrix">
                        <label for="minPrice">Minimum:</label>
                    <input type="number" [(ngModel)]="minPrice" name="minPrice">
                    <label for="maxPrice">Minimum:</label>
                    <input type="number" [(ngModel)]="maxPrice" name="maxPrice">
                    </div>
                    <button type="submit">Filter</button>
                </form>
            </div>   
                

        </div>
      
    </div>
</div> -->

<div>

    
  <!-- <a class="open-modal" (click)="openModalFilter()">Filter</a> -->
  <div class="modal" [ngClass]="{'active': isVisibleM}">
    <div class="modal-content">
      <button class="close-modal-btn" (click)="closeModalFilter()">X</button>
      <label for="recherche">Recherchez une bouteille dans tout vos celliers</label>
      <input class="recherche-input"
        name="recherche"
        type="text"
        [(ngModel)]="searchTerm"
        (keyup)="filterData(searchTerm)"
        placeholder="Recherche dans vos celliers"
        />
        <div class="modal-input">
            <div class="modal-type">
                <h3>Type</h3>
                <a  [routerLink]="['/recherche']"
                    [queryParams]="{ type: 'rouge'}"
                    queryParamsHandling="merge">Rouge</a>
                    
                <a [routerLink]="['/recherche']"
                [queryParams]="{ type: 'blanc'}" 
                queryParamsHandling="merge">blanc</a>
            </div>
            <div class="modal-pays">
                <h3>Pays</h3>

                <a [routerLink]="['/recherche']"
                [queryParams]="{ pays: 'Canada'}"
                queryParamsHandling="merge">Canada</a>

                <a [routerLink]="['/recherche']"
                [queryParams]="{ pays: 'Etat-unis'}"
                queryParamsHandling="merge">Etat-unis</a>

                <a [routerLink]="['/recherche']"
                [queryParams]="{ pays: 'France'}"
                queryParamsHandling="merge">France</a>

                <a [routerLink]="['/recherche']"
                [queryParams]="{ pays: 'Italie'}"
                queryParamsHandling="merge">Italie</a>
            </div>
            <!-- <div class="modal-prix">
                <h3>Prix</h3>

                <form (ngSubmit)="filterByPrice(minPrice, maxPrice)" #myForm="ngForm">
                    <div class="formPrix">
                        <label for="minPrice">Minimum:</label>
                    <input type="number" [(ngModel)]="minPrice" name="minPrice">
                    <label for="maxPrice">Minimum:</label>
                    <input type="number" [(ngModel)]="maxPrice" name="maxPrice">
                    </div>
                    <button type="submit">Filter</button>
                </form>
            </div>     -->
                

        </div>
      
    </div>
</div>