<section class="footer">

    <a class="boutton_footer" routerLink="/profil/liste-cellier"><div class="icone_house icone"></div><span>Celliers</span></a>
    
    <a class="boutton_footer" routerLink="/profil/recherche"><div class="icone icone-loupe"></div><span>Mon vin</span></a>
    
    <div class="ajouter boutton_footer" (click)="ajouter()"><div class="icone-bouteille_footer icone"><div class="icone-plus"></div></div><span>Ajout</span></div>
    
    <a class="boutton_footer" routerLink="/profil/archive"><div class="icone-archives icone"></div><span>Archives</span></a>
    
    <div class="boutton_footer" (click)="goUp()"><div class="goUp icone"></div><span>Haut</span></div>
</section>
