<form [formGroup]="modifBouteilleForm" (ngSubmit)="modifier()">
      
    <input type="hidden" id="id" name="id_bouteillePerso" formControlName="id_bouteillePerso" [value]="bouteille?.id_bouteillePerso">
  
    <label for="name">Name:</label>
    <input type="text" id="name" name="name_bouteillePerso" formControlName="nom_bouteillePerso" [value]="bouteille?.nom_bouteillePerso">

    <label for="name">type:</label>
    <input type="text" id="type" name="type_bouteillePerso" formControlName="type_bouteillePerso" [value]="bouteille?.type">

    <label for="pays">Pays:</label>
    <input type="text" id="pays" name="pays_bouteillePerso" formControlName="pays_bouteillePerso" [value]="bouteille?.pays_bouteillePerso">

    <label for="format">format:</label>
    <input type="text" id="format" name="format_bouteillePerso" formControlName="format_bouteillePerso" [value]="bouteille?.format_bouteillePerso">

    <label for="prix_saq">prix:</label>
    <input type="text" id="prix_saq" name="prix_bouteillePerso" formControlName="prix_bouteillePerso" [value]="bouteille?.prix_bouteillePerso">

    <label for="quantite">quantité:</label>
    <input type="text" id="quantite" name="quantite_bouteillePerso" formControlName="quantite_bouteillePerso" [value]="bouteille?.quantite_bouteillePerso">

    <label for="description">description:</label>
    <textarea type="text" id="description" name="description_bouteillePerso" formControlName="description_bouteillePerso" >{{bouteille?.description_bouteillePerso}}</textarea>
  
    <button type="button" (click)="clearForm()">Effacer</button>
    <button class="grosPlus" type="submit">+</button>
</form>
