<section class="modif-bouteille">

    <h1>Modifier une bouteille</h1>

    <form [formGroup]="modifBouteilleForm" (ngSubmit)="modifierBouteille()" class="form-mofif">

        <div>
            <input type="hidden" id="id" name="id_bouteillePerso" formControlName="id_bouteillePerso"
                [value]="bouteille?.id_bouteillePerso">
        </div>
        <div>

            <label for="name">
            <input type="text" id="name" name="nom_bouteillePerso" formControlName="nom_bouteillePerso"
                [value]="bouteille?.nom_bouteillePerso" placeholder="Nom">
                <span class="floating" *ngIf="!formSubmitted || modifBouteilleForm.controls['nom_bouteillePerso'].valid || !modifBouteilleForm.controls['nom_bouteillePerso']?.errors?.['required']">Nom</span>
                <span class="floating floatingError" *ngIf="formSubmitted && modifBouteilleForm.controls['nom_bouteillePerso'].invalid && modifBouteilleForm.controls['nom_bouteillePerso']?.errors?.['required']">Nom</span>
            </label>
            <div *ngIf="formSubmitted && modifBouteilleForm.controls['nom_bouteillePerso'].invalid"
                class="message-erreur">
                <div *ngIf="modifBouteilleForm.controls['nom_bouteillePerso']?.errors?.['required']">Ce champs est
                    requis
                </div>
            </div>
        </div>

        <div>
            <label for="type">
            <select name="type_bouteillePerso" id="type" formControlName="type_bouteillePerso">
                <option value="" disabled selected>Type de vin</option>
                <option value="1">vin rouge</option>
                <option value="2">vin blanc</option>
                <option value="3">vin rosé</option>
            </select>
            <div class="stay">Type</div>
            </label>    
        </div>
        


        <div>
            <label for="pays_bouteillePerso">
            <select name="pays_bouteillePerso" id="pays_bouteillePerso" formControlName="pays_bouteillePerso">
                <option value="" disabled selected>Sélectionner un pays</option>
                <option *ngFor="let pays of choixPays" [value]="pays">{{ pays }}</option>
            </select>
            <div class="stay">Pays</div>
            </label>    
        </div>



        <div>
            
            <label for="format">
            <input type="text" id="format" name="format_bouteillePerso" formControlName="format_bouteillePerso"
            [value]="bouteille?.format_bouteillePerso" placeholder="Format">
            <span class="floating">Format</span>
            
        </label>
    </div>
    
    <div>
        
        <label for="prix_saq">
            <input type="text" id="prix_saq" name="prix_bouteillePerso" formControlName="prix_bouteillePerso"
            [value]="bouteille?.prix_bouteillePerso" placeholder="Prix">
            <span class="floating">Prix</span>

            </label>
            
            <div *ngIf="formSubmitted && modifBouteilleForm.controls['prix_bouteillePerso'].invalid"
            class="message-erreur">
            <div *ngIf="modifBouteilleForm.controls['prix_bouteillePerso']?.errors?.['pattern']">
                    Doit être de format "22.22"
                </div>
            </div>
        </div>
        
        <div>
            
            <label for="quantite">
                <input type="number" id="quantite" name="quantite_bouteillePerso" formControlName="quantite_bouteillePerso"
                [value]="bouteille?.quantite" placeholder="Quantité">
                <span class="floating" *ngIf="!formSubmitted || modifBouteilleForm.controls['quantite_bouteillePerso'].valid || !modifBouteilleForm.controls['quantite_bouteillePerso']?.errors?.['required']">Quantité</span>
                <span class="floating floatingError" *ngIf="formSubmitted && modifBouteilleForm.controls['quantite_bouteillePerso'].invalid && modifBouteilleForm.controls['quantite_bouteillePerso']?.errors?.['required']">Quantité</span>
            </label>
            <div *ngIf="formSubmitted && modifBouteilleForm.controls['quantite_bouteillePerso'].invalid"
                class="message-erreur">
                <div *ngIf="modifBouteilleForm.controls['quantite_bouteillePerso']?.errors?.['required']">Ce
                    champs est
                    requis
                </div>
                <div *ngIf="modifBouteilleForm.controls['quantite_bouteillePerso']?.errors?.['pattern']">
                    Doit être un entier positif
                </div>
            </div>
        </div>
        
        <div class="container-select">
            <label for="celliers_id">
                <select name="celliers_id" id="celliers_id" formControlName="celliers_id">
                    <ng-container *ngFor="let cellier of listeCelliers">
                        <option *ngIf="bouteille?.celliers_id == cellier.id"  [value]="cellier.id" selected>{{cellier.nom}}</option>
                        <option *ngIf="bouteille?.celliers_id != cellier.id"  [value]="cellier.id" >{{cellier.nom}}</option>
                    </ng-container>
                </select>
                <div class="stay">Cellier</div>
            </label>
        </div>
        <button class="btn-submit" class="grosPlus" type="submit">Confirmer</button>
        <button class="btn-effacer" type="button" (click)="clearForm()">
            Rétablir
        </button>



    </form>
</section>
<app-footer [id]="bouteille?.celliers_id"></app-footer>
