.spin-container {
    margin-bottom: var(--small);
    display: flex;
    max-width: 100vw;
    background-color: var(--white);
    justify-content: center;
    padding: var(--small);
    border-radius: var(--border-radius15);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}