div {
    padding-inline: 64px;
    padding-top: 64px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    mat-form-field {
        width: 100%;

        textarea {
            height: 200px;
        }
    }

    .hidden {
        display: none;
    }

    div {
        padding: 0;
        flex-direction: row;
        
        button {
            margin: 16px;
        }
    }

}

@media(max-width: 700px) {
    .boutons {
        display: block;
        text-align: center;
    }
}