.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-interieur {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #fff;
        border: 1px solid #ccc;
        margin: 0 var(--big);
        padding: 20px;
        max-width: 600px;
        width: 100%;
        position: relative;
        border-radius: var(--border-radius15);

        h2 {
            margin-bottom: var(--small);
        }

        .btn-modal {
            display: flex;
            justify-content: center;

            button {
                min-width: 85px;
                margin: var(--small);
                height: var(--biggest);
                border-radius: var(--border-radius);
                border-style: none;
                border: solid var(--smallest) var(--secondaire);
                background-color: var(--secondaire-transparent80);
                color: var(--black);
                // width: calc(100% - var(--biggest));
                // width: 100%;
                font-size: var(--med);
                font-weight: var(--bold);
            }

            .btn-annuler {
                background-color: var(--primaire);
                border: solid var(--smallest) var(--primaire);
            }


        }
    }
}